## Import

In [2]:
pip install geoalchemy2

Requirement already satisfied: geoalchemy2 in c:\users\zheng\anaconda3\lib\site-packages (0.18.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: SQLAlchemy>=1.4 in c:\users\zheng\anaconda3\lib\site-packages (from geoalchemy2) (2.0.43)
Requirement already satisfied: packaging in c:\users\zheng\anaconda3\lib\site-packages (from geoalchemy2) (23.2)
Requirement already satisfied: greenlet>=1 in c:\users\zheng\anaconda3\lib\site-packages (from SQLAlchemy>=1.4->geoalchemy2) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\zheng\anaconda3\lib\site-packages (from SQLAlchemy>=1.4->geoalchemy2) (4.11.0)

In [9]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.9 kB 991.0 kB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 3.8 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [7]:
import re
import pandas as pd
from pathlib import Path
import numpy as np
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL
from geoalchemy2 import Geometry

## abs single header
Take Table 1 and clear the irrelevant headers

In [10]:
XLSX = "14100DO0003_2011-24.xlsx"  
SHEET = "Table 1"
OUT   = "abs_table1_raw_single_header.csv"

raw = pd.read_excel(XLSX, sheet_name=SHEET, header=None)

# find “Code / Label / Year...”
header_row = None
for i in range(len(raw)):
    row = raw.iloc[i, :3].astype(str).str.strip().tolist()
    if row[0].lower() == "code" and row[1].lower() == "label" and row[2].lower() == "year":
        header_row = i
        break

# create new file
df = pd.read_excel(XLSX, sheet_name=SHEET, header=header_row)
df.to_csv(OUT, index=False)

## select rows of abs
There is too much content in the abs table. We take out the key columns and carry them into the next analysis. In the report, we need to analyze why these columns were taken out

In [11]:
SRC = "abs_table1_raw_single_header.csv"   
OUT = "abs_table1_core_selected.csv"  

# match exact name
COLUMNS = [
    "Code", "Label", "Year",
    "Total number of businesses",
    "Number of non-employing businesses",
    "Number of employing businesses: 1-4 employees",
    "Number of employing businesses: 5-19 employees",
    "Number of employing businesses: 20 or more employees",
    "Mining (no.)",
    "Manufacturing (no.)",
    "Electricity, gas, water and waste services (no.)",
    "Construction (no.)",
    "Transport, postal and warehousing (no.)",
    "Number of businesses with turnover of $200k to less than $2m",
    "Number of businesses with turnover of $2m to less than $5m",
    "Number of businesses with turnover of $5m to less than $10m",
    "Number of businesses with turnover of $10m or more",
]

def main():
    df = pd.read_csv(SRC, low_memory=False)
    out = df[COLUMNS].copy()
    out.to_csv(OUT, index=False)
    print(f"Saved -> {OUT} | shape={out.shape}")

if __name__ == "__main__":
    main()

Saved -> abs_table1_core_selected.csv | shape=(29097, 17)

We have cleaned up these columns, mainly keeping only a few rows of states and unifying the names of the states into abbreviations

In [12]:
# Read the ABS table
df = pd.read_csv("abs_table1_core_selected.csv")

# Drop the first column if it is just an index/sequence
if df.columns[0].lower().startswith("unnamed"):
    df = df.drop(df.columns[0], axis=1)

# State name mapping
state_map = {
    "New South Wales": "NSW",
    "Victoria": "VIC",
    "Queensland": "QLD",
    "South Australia": "SA",
    "Western Australia": "WA",
    "Tasmania": "TAS",
    "Australian Capital Territory": "ACT",
    "Northern Territory": "NT",
    "Australia": "AUS",
    # If already an abbreviation, keep as is
    "NSW": "NSW", "VIC": "VIC", "QLD": "QLD", "SA": "SA",
    "WA": "WA", "TAS": "TAS", "ACT": "ACT", "NT": "NT", "AUS": "AUS"
}

# Create the State column: prefer Label, fallback to Code
if "Label" in df.columns:
    df["State"] = df["Label"].map(state_map).fillna(df["Code"])
elif "Code" in df.columns:
    df["State"] = df["Code"].map(state_map).fillna(df["Code"])
else:
    raise KeyError("No state name field found (Label or Code).")

# Keep only 8 states + AUS
valid_states = {"NSW","VIC","QLD","SA","WA","TAS","ACT","NT","AUS"}
df = df[df["State"].isin(valid_states)]

# Save
df.to_csv("ABS_table1_core_selected_8states_AUS.csv", index=False)

print("Saved -> ABS_table1_core_selected_8states_AUS.csv")

Saved -> ABS_table1_core_selected_8states_AUS.csv

In [13]:
df = pd.read_csv("ABS_table1_core_selected_8states_AUS.csv")
if "Code" in df.columns:
    df = df[~((df["State"]=="ACT") & (df["Code"]!="8"))]

# 1) delete Code and Label （if exist）
df = df.drop(columns=[c for c in ["Code","Label"] if c in df.columns])


# save
df.to_csv("ABS_cleaned.csv", index=False)

print("Saved -> ABS_cleaned.csv")

Saved -> ABS_cleaned.csv

### NGER data integration and weighting

Merge multiple tables and mark the year at the end of each row

In [15]:


# File list (ordered by 2014–2023)
files = [
    "NGER.ID0075.csv",  # 2014
    "NGER.ID0076.csv",  # 2015
    "NGER.ID0077.csv",  # 2016
    "NGER.ID0078.csv",  # 2017
    "NGER.ID0079.csv",  # 2018
    "NGER.ID0080.csv",  # 2019
    "NGER.ID0081.csv",  # 2020
    "NGER.ID0082.csv",  # 2021
    "NGER.ID0083.csv",  # 2022
    "NGER.ID0243.csv",  # 2023
]

# Generate years corresponding to each file
years = list(range(2014, 2014 + len(files)))

dfs = []
for f, y in zip(files, years):
    df = pd.read_csv(f, header=None)   # Do not use header, stack rows directly
    df["year"] = y                     # Add a year column at the end
    dfs.append(df)

# Concatenate in order
nger_all = pd.concat(dfs, ignore_index=True)

# Save combined result
nger_all.to_csv("NGER_2014_2023_all_rawconcat.csv", index=False, header=False)

Convert the original concatenated data of NGER from 2014 to 2023 into a state-year summary table, including total power generation, total emissions and weighted emission intensity, and supplement the National total (AUS) row at the end

In [16]:
SRC = "NGER_2014_2023_all_rawconcat.csv"

COLS = [
    "Reporting Entity","Facility Name","Type","State",
    "Electricity Production GJ","Electricity Production Mwh",
    "Scope 1 t CO2 e","Scope 2 t CO2 e","Total Emissions t CO2 e",
    "Emission Intensity t Mwh","Grid Connected","Grid","Primary Fuel",
    "Important Notes","year"
]

# ===== 1) Load raw concatenated file and assign column names =====
df = pd.read_csv(SRC, header=None, low_memory=False)
df.columns = COLS

# ===== 2) Convert numeric columns =====
num_cols = [
    "Electricity Production Mwh",
    "Total Emissions t CO2 e",
    "Emission Intensity t Mwh",
]
for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors="coerce")

# ===== 3) Aggregate by State-Year (totals + weighted intensity) =====
tmp = df.dropna(subset=["Electricity Production Mwh","Emission Intensity t Mwh"]).copy()
tmp["wx"] = tmp["Electricity Production Mwh"] * tmp["Emission Intensity t Mwh"]

state_year = tmp.groupby(["State","year"], as_index=False).agg(
    total_mwh=("Electricity Production Mwh","sum"),
    total_emissions=("Total Emissions t CO2 e","sum"),
    total_wx=("wx","sum"),
)
state_year["weighted_intensity_t_per_mwh"] = state_year["total_wx"] / state_year["total_mwh"]

# ===== 4) National totals (AUS) =====
aus = state_year.groupby("year", as_index=False).agg(
    total_mwh=("total_mwh","sum"),
    total_emissions=("total_emissions","sum"),
    total_wx=("total_wx","sum"),
)
aus["weighted_intensity_t_per_mwh"] = aus["total_wx"] / aus["total_mwh"]
aus.insert(0, "State", "AUS")  # Add State column

# ===== 5) Combine state-level and national-level results and save =====
final = pd.concat([state_year, aus], ignore_index=True).sort_values(["State","year"])
final.to_csv("NGER_cleaned.csv", index=False)

print(" - NGER_cleaned.csv")
print(final.head(10))

 - NGER_cleaned.csv
  State  year  total_mwh  total_emissions  total_wx  \
0   ACT  2014    98106.0           1708.0   1509.84
1   ACT  2015    63256.0           1788.0   1503.46
2   ACT  2016    26750.0           1768.0   1872.50
3   ACT  2017    73003.0           2355.0   2048.59
4   ACT  2018    93555.0           2061.0   1867.46
5   ACT  2019    87670.0           1575.0   1400.16
6   ACT  2020    90253.0           2979.0   2802.60
7   ACT  2021    84427.0           3786.0   3258.70
8   ACT  2022   246566.0           5287.0   4152.00
9   ACT  2023   224556.0           5621.0   4278.24

   weighted_intensity_t_per_mwh
0                      0.015390
1                      0.023768
2                      0.070000
3                      0.028062
4                      0.019961
5                      0.015971
6                      0.031053
7                      0.038598
8                      0.016839
9                      0.019052

### clean cer

In [18]:
cer = pd.read_csv("historical-accredited-power-stations-and-projects-0.csv", encoding="ISO-8859-1")

# Cleaning
cer["State"] = cer["State"].astype(str).str.strip().str.upper()
cer["Installed capacity"] = pd.to_numeric(cer["Installed capacity"], errors="coerce")
cer["year"] = pd.to_datetime(cer["Accreditation start date"], errors="coerce").dt.year

# Keep only 2015–2024
cer = cer[cer["year"].between(2015, 2024)]

# Aggregate by state + year
summary = cer.groupby(["State","year"], as_index=False).agg(
    accredited_capacity_mw=("Installed capacity","sum"),
    accredited_projects=("Installed capacity","count")
)

# Save cleaned table
summary.to_csv("CER_cleaned.csv", index=False)
print(summary.head())

  State  year  accredited_capacity_mw  accredited_projects
0   ACT  2015                  0.7760                    2
1   ACT  2016                 27.4780                    6
2   ACT  2018                  0.8428                    3
3   ACT  2019                  0.5493                    2
4   ACT  2020                  7.3472                    7

C:\Users\zheng\AppData\Local\Temp\ipykernel_24124\2883078743.py:6: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cer["year"] = pd.to_datetime(cer["Accreditation start date"], errors="coerce").dt.year

### Combine the retrieved data

Clean and merge the data tables related to energy and industry from three different sources (CER, NGER, ABS) into a unified dataset

In [19]:

# Define missing value markers
missing_values = ["-", "--", "<Null>", "null", "NULL", ""]

# 1) Read the three datasets and automatically treat missing values as NaN
cer = pd.read_csv("CER_cleaned.csv", na_values=missing_values)
nger = pd.read_csv("NGER_cleaned.csv", na_values=missing_values)
absd = pd.read_csv("ABS_cleaned.csv", na_values=missing_values)

# 2) Function: normalize column names (all lowercase, strip spaces)
def normalize_cols(df):
    df.columns = [c.strip().lower() for c in df.columns]
    return df

cer = normalize_cols(cer)
nger = normalize_cols(nger)
absd = normalize_cols(absd)

# 3) Ensure 'state' and 'year' columns exist and standardize them
for df in [cer, nger, absd]:
    if "state" not in df.columns:
        raise KeyError("Missing 'state' column")
    if "year" not in df.columns:
        raise KeyError("Missing 'year' column")
    df["state"] = df["state"].astype(str).str.strip().str.upper()
    df["year"] = pd.to_numeric(df["year"], errors="coerce").astype("Int64")

# 4) Merge NGER + CER + ABS on state and year
merged = pd.merge(nger, cer, on=["state", "year"], how="outer")
merged = pd.merge(merged, absd, on=["state", "year"], how="outer")

# 5) Drop invalid rows (where state or year is missing)
merged = merged.dropna(subset=["state", "year"], how="any")

# 6) Keep only rows from 2015 onwards
merged = merged[merged["year"] >= 2015]

# 7) Save the final merged dataset
merged.to_csv("ABS_NGER_CER_merged.csv", index=False)

print(merged.head())

  state  year  total_mwh  total_emissions  total_wx  \
2   ACT  2015    63256.0           1788.0   1503.46
3   ACT  2016    26750.0           1768.0   1872.50
4   ACT  2017    73003.0           2355.0   2048.59
5   ACT  2018    93555.0           2061.0   1867.46
6   ACT  2019    87670.0           1575.0   1400.16

   weighted_intensity_t_per_mwh  accredited_capacity_mw  accredited_projects  \
2                      0.023768                  0.7760                  2.0
3                      0.070000                 27.4780                  6.0
4                      0.028062                     NaN                  NaN
5                      0.019961                  0.8428                  3.0
6                      0.015971                  0.5493                  2.0

   total number of businesses  number of non-employing businesses  ...  \
2                         NaN                                 NaN  ...
3                         NaN                                 NaN  ...
4                         NaN                                 NaN  ...
5                         NaN                                 NaN  ...
6                         NaN                                 NaN  ...

   number of employing businesses: 20 or more employees  mining (no.)  \
2                                                NaN              NaN
3                                                NaN              NaN
4                                                NaN              NaN
5                                                NaN              NaN
6                                                NaN              NaN

   manufacturing (no.)  electricity, gas, water and waste services (no.)  \
2                  NaN                                               NaN
3                  NaN                                               NaN
4                  NaN                                               NaN
5                  NaN                                               NaN
6                  NaN                                               NaN

   construction (no.)  transport, postal and warehousing (no.)  \
2                 NaN                                      NaN
3                 NaN                                      NaN
4                 NaN                                      NaN
5                 NaN                                      NaN
6                 NaN                                      NaN

   number of businesses with turnover of $200k to less than $2m  \
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN

   number of businesses with turnover of $2m to less than $5m  \
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN

   number of businesses with turnover of $5m to less than $10m  \
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN

   number of businesses with turnover of $10m or more
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN

[5 rows x 22 columns]

In [20]:
%pip install -q googlemaps

Note: you may need to restart the kernel to use updated packages.

In [28]:
import os, time
import pandas as pd
from pathlib import Path
from tqdm import tqdm
import googlemaps

IN_CSV  = Path("historical-accredited-power-stations-and-projects-0.csv")  # 按需修改
OUT_CSV = Path("stations_with_geo.csv")
CACHE_CSV = Path("geocode_cache.csv")

# 读取（兼容编码问题）
try:
    df = pd.read_csv(IN_CSV)
except UnicodeDecodeError:
    df = pd.read_csv(IN_CSV, encoding="ISO-8859-1")

COL_NAME, COL_STATE, COL_POSTCODE = "Power station name", "State", "Postcode"

def sanitize(x):
    return "" if pd.isna(x) else str(x).strip()

def make_query(row):
    # 用“电站名 + 州 + 邮编 + Australia”，并加上区域偏置
    return ", ".join([p for p in [
        sanitize(row[COL_NAME]),
        sanitize(row[COL_STATE]),
        sanitize(row[COL_POSTCODE]),
        "Australia"
    ] if p])

df["_query"] = df.apply(make_query, axis=1)
df.head(3)

,Accreditation code,Power station name,State,Installed capacity,Postcode,Fuel source(s),Accreditation start date,Suspension status,Baseline (MWh),Comment,_query
0,SRPXQLG5,Varsity Views - Solar w SGU - QLD,QLD,0.2109,4227,Solar,18/12/2024,Unsuspended,0,NaN,"Varsity Views - Solar w SGU - QLD, QLD, 4227, ..."
1,SRPYNS51,NNSWLHD-Byron Central Hospital - Solar - NSW,NSW,0.7203,2481,Solar,12/12/2024,Unsuspended,0,NaN,"NNSWLHD-Byron Central Hospital - Solar - NSW, ..."
2,SRPXQLG2,Springwood Terrace Care Community - Solar w SG...,QLD,0.1890,4127,Solar,10/12/2024,Unsuspended,0,NaN,Springwood Terrace Care Community - Solar w SG...

In [30]:
API_KEY = "AIzaSyBRf4lXjnQsjfBQ3BusqBBJ8FK7iPOxFWM"

gmaps = googlemaps.Client(key=API_KEY)

In [32]:
def geocode_once(query):
    try:
        res = gmaps.geocode(query, region="au")
        if not res:
            return None, None, "ZERO_RESULTS", ""
        top = res[0]
        loc = top["geometry"]["location"]
        return loc["lat"], loc["lng"], "OK", top.get("formatted_address", "")
    except Exception as e:
        return None, None, f"ERROR:{type(e).__name__}", ""

def geocode_with_backoff(query, retries=5, base=1.0):
    for k in range(retries):
        lat, lng, status, fmt = geocode_once(query)
        if status in ("OK", "ZERO_RESULTS"):
            return lat, lng, status, fmt
        time.sleep(base * (2 ** k))  # 退避等待
    return None, None, status, fmt

# import os

def load_cache(path):
    if path.exists():
        return pd.read_csv(path).set_index("query").T.to_dict()
    return {}

def save_cache(cache, path):
    rows = [{"query": q, **v} for q,v in cache.items()]
    pd.DataFrame(rows).to_csv(path, index=False)

cache = load_cache(CACHE_CSV)

unique_queries = sorted(set(df["_query"]))
QPS = 5
sleep_interval = 1.0 / QPS

for q in tqdm(unique_queries, desc="Geocoding"):
    if q in cache and cache[q].get("status") in ("OK","ZERO_RESULTS"):
        continue
    lat, lng, status, fmt = geocode_with_backoff(q)
    cache[q] = {"lat": lat, "lng": lng, "status": status, "formatted_address": fmt}
    time.sleep(sleep_interval)

save_cache(cache, CACHE_CSV)

In [10]:
df["latitude"] = df["_query"].map(lambda q: cache.get(q, {}).get("lat"))
df["longitude"] = df["_query"].map(lambda q: cache.get(q, {}).get("lng"))
df["geocode_status"] = df["_query"].map(lambda q: cache.get(q, {}).get("status"))
df["formatted_address"] = df["_query"].map(lambda q: cache.get(q, {}).get("formatted_address"))

df.to_csv(OUT_CSV, index=False)
print("增强完成！结果保存到：", OUT_CSV)

增强完成！结果保存到： /Users/xushixing/Desktop/Comp5339 Assignment 1/stations_with_geo.csv

## store into database

In [41]:
# ========== 1) Connect to PostgreSQL ==========
url = URL.create(
    "postgresql+psycopg2",
    username="postgres",   # database username11111
    password="0823",       # database password
    host="localhost",      # host
    port=5433,             # port
    database="5339",       # database name
)
engine = create_engine(url, future=True)

# ========== 2) Read and normalize stations_with_geo.csv ==========
fac = pd.read_csv("stations_with_geo.csv")

# Automatically detect longitude/latitude columns (case-insensitive, handles spaces and common aliases)
def find_col(cols, patterns):
    cols_lower = {c.lower(): c for c in cols}
    for pat in patterns:
        # First try exact match
        if pat in cols_lower:
            return cols_lower[pat]
        # Then try regex fuzzy match
        rx = re.compile(pat, re.I)
        for c in cols:
            if rx.fullmatch(c) or rx.search(c):
                return c
    return None

lon_candidates = [
    "lon", "longitude", r"long(it(u|)de)?", r"\blng\b", r"^x$", r"^long$", r"^longtitude$"
]
lat_candidates = [
    "lat", "latitude", r"lat(it(u|)de)?", r"^y$"
]

lon_col = find_col(fac.columns, lon_candidates)
lat_col = find_col(fac.columns, lat_candidates)

# Standardize column names to lon / lat
if lon_col != "lon":
    fac = fac.rename(columns={lon_col: "lon"})
if lat_col != "lat":
    fac = fac.rename(columns={lat_col: "lat"})

# Force longitude/latitude to numeric
fac["lon"] = pd.to_numeric(fac["lon"], errors="coerce")
fac["lat"] = pd.to_numeric(fac["lat"], errors="coerce")

In [43]:
# ========== 3) Write into dim_facility table ==========
fac.to_sql("dim_facility", engine, if_exists="replace", index=False)

# ========== 4) Import ABS_NGER_CER_merged.csv ==========
fact = pd.read_csv("ABS_NGER_CER_merged.csv")
fact.to_sql("fact_state_year", engine, if_exists="replace", index=False)

# ========== 5) Create PostGIS geometry column and populate ==========
with engine.begin() as conn:
    # Ensure PostGIS is available (you already installed it, this is just safe-guard)
    conn.exec_driver_sql("CREATE EXTENSION IF NOT EXISTS postgis;")
    # Add geometry column (Point type, SRID = 4326)
    conn.exec_driver_sql("""
        ALTER TABLE dim_facility
        ADD COLUMN IF NOT EXISTS geom geometry(Point,4326);
    """)
    # Populate geom column using lon/lat
    conn.exec_driver_sql("""
        UPDATE dim_facility
        SET geom = ST_SetSRID(ST_MakePoint(lon::double precision, lat::double precision),4326)
        WHERE lon IS NOT NULL AND lat IS NOT NULL;
    """)

print("Successfully loaded into PostgreSQL")

Successfully loaded into PostgreSQL